<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars App</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="/javascript/app.js"></script>
  </head>
  <body>
    <a href="/cars">Browse Cars</a>
    <h1 class="big-h1-tags">Welcome to the Cars app!</h1>
    <p>An app for collecting your favorite cars.</p>
  </body>
</html>